*{

    margin: 0;
    padding: 0;
}

/* Start Font Family Style*/

@font-face {
    src: url("../fonts/Blanka-Regular.otf");
    font-family: 'one';
}

@font-face {
    src: url("../fonts/Boss Fight.otf");
    font-family: 'tow';
}

@font-face {
    src: url("../fonts/batmanforeveralternate.ttf");
    font-family: 'three';
}

@font-face {
    src: url("../fonts/BAUHS93.TTF");
    font-family: 'five';
}

@font-face {
    src: url("../fonts/pykes_peak_zero.otf");
    font-family: 'four';
}


.carousel { overflow: hidden; }

/*End Font Family Style*/

body{
    border-color: #FFFFFF;
    text-align: center;
}

.Conteniar {
    width: 1150px;
    margin: auto;
}

.logo {
    /* text-align: center; */
    max-height: 60px;
    margin-top: 7px;
    float: right;
    margin-right: 30px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    font-weight: bold;
    font-size: 20px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a{
    color: #ffffff;
    padding: 24px;
    transition: all 0.8s;
    background-color: #990000;

}
ul li:hover{

}
.navbar-default .navbar-nav>li>a:hover{
    color: #ffffff;
    padding: 24px;
    transition: all 0.8s;
    background-color: #990000;

}
.nav h1{

    /*margin-left: 400px;*/
    font-family: 'five';
    font-weight: bold;
    color: #0e2f44;
}
.nav p{

    font-size: 50px;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'four';
    background-color: #333333;
    color:#3399ff ;
}

.acrod{

    width: 805px;
    margin: auto;
    height: 320px;
    overflow: hidden;
    border: 1px solid #888;
}
.acrod li{

    width: 160px;
    display: block;
    position: relative;
    float: left; 
    border-left: 1px solid #000;
    transition: all 1.3s;
}
.title{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 640px;
}
.title a {

    display: block;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.acrod ul:hover li{

    width: 40px;
}

.acrod ul li:hover{

    width: 640px;
    cursor: pointer;
}



/*/////////////////////////////////////////////////*/


    width: 40%;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    font-family: cursive;
    color: #888;
    float: right;
}

.Heading h1 {
    margin-left: 750px;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    color: #3399ff;
}

.image img {
    margin-left: 80px;
    border: 2px solid #888;
    border-radius: 80px;
    box-shadow: 5px 5px 12px 14px #333b42;
}

.image img:hover {
    cursor: pointer;
}


/*End Heading Section*/


/*Start Future Section*/

.Work {
    /*    background-image: url(../Pic/OurWork.jpg);*/
    background-color: white;
    height: 22%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid #3399ff;
}

.Work h3 {
    padding-bottom: 30px;
    margin-top: 3px;
    font-size: 30px;
    font-weight: bold;
    color: #888;
    font-family: 'three';
    border-radius: 50px;
}

.Work h3:hover {
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.Work p {
    font-size: 25px;
    line-height: 1.5;
    word-spacing: 15px;
    letter-spacing: 2px;
    color: #3399ff;
    border-radius: 30px;
    padding: 10px 0 0 9px;
    padding: 30px;
    font-family: 'four';
}


/*End Heading Section*/


/*Start Section Team*/

.team {
    padding: 40px;
    text-align: center;
}

.team h1 {
    padding-bottom: 20px;
    font-family: 'three';
    color: #888;
}

.team h2 {
    color: #888;
    padding-bottom: 20px;
    font-family: 'five';
    color: #3399ff;
}

.team img {
    max-width: 140px;
    max-height: 100px;
    border-radius: 50%;
}


/*End Section Team*/


/*Start Comments Section*/

.co {
    text-align: center;
    background-color: #EEE
}


/*End Comments Section*/


/*Start ConnectUs Section*/

.connect {
    text-align: center;
    font-family: 'three';
    padding: 25px;
    background-image: url(../Pic/Connect.jpg);
    background-color: rgba(3, 3, 3, 0.7);
    border-top: 2px solid #3399ff;
}

.connect h2 {
    padding-bottom: 22px;
    color: #ffffff;
}

input[Value="Send"] {
    background-color: firebrick;
    border: none;
    font-weight: bold;
    font-size: 25px;
    color: dodgerblue;
}

.connect input {
    height: 35px;
    width: 440px;
    margin-bottom: 15px;
}

.connect input[type="text"],
[type="email"],
[type="tel"] {
    padding-left: 10px;
    color: white;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
}

input,
.connect textarea,
input[Value="Send"] {
    background-color: rgba(82, 78, 78, 0.7);
    font-size: 20px;
    color: #FFF;
    border: none;
}

input[Value="Send"] {
    width: 220px;
    height: 60px;
    border: 2px solid #888;
    border-radius: 40px;
    background-color: #fff;
    outline: 0;
    margin-top: 10px;
    color: #888;
}

input[Value="Send"]:hover {
    background-color: rgba(3, 3, 3, 0.8);
    color: white;
    cursor: pointer;
}

.conn {
    background-color: rgba(3, 3, 3, 0.7);
}


}
.connect textraea {}

/*End ConnectUs Section*/

/*Start CopyRight Section*/
.last {
    padding: 20px;
    background-color: black;
    color: firebrick;
    font-size: 10px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}

/*Start CopyRight Section*/